@import '../../../styles/core/variables';

#nav {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3.5rem;
  z-index: 999;
  display: grid;
  place-items: center;
  z-index: 9999;

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    height: fit-content;

    @media screen and (max-width: 768px) {
      max-width: 85%;
    }

    & h1 {
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: #cbc9e2;
      z-index: 999999;
      font-weight: 600;
    }

    & .uc {
      display: grid;
      position: relative;
      place-items: center;
      height: 50px;
      width: 50px;
      border: 2px solid #cbc9e2;
      border-radius: 50px;
      display: none;
    }

    .status {
      &Slot {
        width: auto;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        column-gap: 5px;
      }

      &Icon {
        aspect-ratio: 1 / 1;
        height: 25px;
        display: grid;
        place-items: center;
        border-radius: 100%;
      }

      &Title {
        line-height: 1.5;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.8em;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        transition: 0.3s all ease-in;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 10px;
          background: $linearGrey;
          bottom: -4px;
          opacity: 0.5;
          left: 0;
          -webkit-transform: scaleX(0.35);
          transform: scaleX(0.35);
          -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
          -webkit-transition: -webkit-transform 0.25s ease-out;
          transition: -webkit-transform 0.25s ease-out;
          transition: transform 0.25s ease-out;
          transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
        }

        &:hover {
          color: $linearGrey;

          &::before {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
          }

          @media (max-width: 600px) {
            transform: scale(1);
          }
        }

        @media (max-width: 600px) {
          font-size: 0.6em;
        }
      }
    }
  }
}
