body,
main {
  position: relative;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 16);
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('<=tablet') {
    font-size: calc(100vw / 768 * 16);
  }

  @include media('<=phone') {
    font-size: calc(100vw / 425 * 16);
  }

  @include media('<=375px') {
    font-size: calc(100vw / 375 * 16);
  }
}

body {
  background-color: $background;

  &::-webkit-scrollbar {
    width: 0rem;
  }
}

button {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

canvas {
  -webkit-user-drag: none;
  user-select: none;
}
