// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: rgb(17, 17, 17);
$hackBG: #020e1828;
$linearGrey: #cbc9e2;
