// Imports in scss
@import '../../../styles/core/variables';

#footer {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f5f5fad2;
  background: $hackBG;
  padding: 0 0 100px;

  & .footWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 150px;
    column-gap: 200px;

    @media screen and (max-width: 768px) {
      width: 75%;
      align-items: flex-start;
      font-size: 90%;
      column-gap: 100px;
      padding-bottom: 100px;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      column-gap: 0;
      row-gap: 50px;
    }

    & .ulBox {
      text-align: left;

      &:nth-child(1) {
        width: 148.234px;
      }

      &:nth-child(2) {
        padding-top: 1rem;

        & ul {
          padding-top: 80px;

          @media screen and (max-width: 600px) {
            padding-top: 0;
          }
        }
      }

      h3 {
        color: $linearGrey;
        letter-spacing: 0.25em;
        -webkit-text-transform: uppercase;
        text-transform: uppercase;
        font-size: 0.95rem;
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 40px;
      }

      ul {
        display: block;
        list-style-type: none;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 1.1em;
        text-align: left;

        li {
          font-size: 1em;
          position: relative;
          text-align: -webkit-match-parent;
          transition: 0.3s all ease-in;

          &::before {
            content: '';
            position: absolute;
            width: 80%;
            height: 2px;
            background: $linearGrey;
            left: 0;
            bottom: -8px;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transition: -webkit-transform 0.25s ease-out;
            transition: -webkit-transform 0.25s ease-out;
            transition: transform 0.25s ease-out;
            transition: transform 0.25s ease-out,
              -webkit-transform 0.25s ease-out;
          }

          &:not(:last-of-type) {
            margin-bottom: 30px;
          }

          &:hover {
            transform: scale(0.98);
            color: $linearGrey;

            &::before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
              -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }

  & .footBase {
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding-top: 3em;
    font-size: 1.15em;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    border-top: 1px solid $linearGrey;

    @media screen and (max-width: 768px) {
      max-width: 88%;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 40px;
    }

    small {
      -webkit-text-transform: uppercase;
      text-transform: uppercase;
      font-family: 'Josefin Sans', sans-serif;

      @media screen and (max-width: 600px) {
        font-size: 90%;
      }
    }

    ul {
      display: flex;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      font-size: 1.15em;
      width: max-content;

      @media screen and (max-width: 600px) {
        font-size: 95%;
      }

      li {
        list-style-type: none;
        display: list-item;
        text-align: -webkit-match-parent;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background: $linearGrey;
          bottom: -5px;
          left: 0;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
          -webkit-transition: -webkit-transform 0.25s ease-out;
          transition: -webkit-transform 0.25s ease-out;
          transition: transform 0.25s ease-out;
          transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
        }

        &:hover {
          transform: scale(0.95);
          color: $linearGrey;

          &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
          }
        }

        &:not(:last-of-type) {
          margin-right: 40px;

          @media screen and (max-width: 600px) {
            margin-right: 25px;
          }
        }
      }
    }
  }
}
