#nav {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3rem;
  z-index: 999;
  display: grid;
  place-items: center;

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: fit-content;

    & h1 {
      font-family: 'Josefin Sans', sans-serif;
      text-transform: capitalize;
      font-size: 1.4rem;
      animation-duration: 1s;
      color: #cbc9e2;
      z-index: 999999;
    }

    & .uc {
      display: grid;
      position: relative;
      place-items: center;
      height: 50px;
      width: 50px;
      border: 2px solid #cbc9e2;
      border-radius: 50px;
    }
  }
}
