// Imports in scss
@import '../../../styles/core/variables';

.project {
  padding: 100px 0 100px;
  width: 100%;
  display: grid;
  place-items: center;
  background: $hackBG;
  height: fit-content;

  @media screen and (max-width: $layout-breakpoint-small) {
    padding: 50px 0 50px;
  }

  & .projWrapper {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 50px;

    @media screen and (max-width: $layout-breakpoint-small) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 85%;
    }

    @media screen and (max-width: $layout-breakpoint-xsmall) {
      grid-template-columns: repeat(1, 1fr);
    }

    & .projCard {
      width: 100%;
      height: 280px;
      padding: 40px;
      background-color: rgb(22, 22, 26);
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      row-gap: 20px;
      position: relative;

      & h3 {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 2;
        font-family: 'Josefin Sans', sans-serif;
      }

      & small {
        font-size: 14px;
        font-weight: 400;
        color: $linearGrey;
        text-transform: uppercase;
      }

      & p {
        color: $linearGrey;
        font-size: 0.85em;
        font-weight: 400;
        line-height: 1.8;
        font-family: 'Poppins', sans-serif;
      }

      & .bottom {
        width: 100%;
        height: fit-content;
        padding: 0 40px;
        padding-bottom: 30px;
        position: absolute;
        bottom: 0;
        left: 0;

        & button {
          width: fit-content;
          height: fit-content;
          cursor: pointer;
          font-size: 13px;
          font-weight: 400;
          color: $linearGrey;
          text-transform: capitalize;
          font-family: 'Josefin Sans', sans-serif;

          & a {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: $linearGrey;
        left: 0;
        bottom: -2px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transition: -webkit-transform 0.25s ease-out;
        transition: -webkit-transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
      }

      &:hover {
        &::before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
        }
      }
    }
  }
}
